.container{
    width: 30%;
    height: 400px;
    background-color: rgba(3, 0, 1, 0.938);
    border-radius: 20px;
    margin: auto;
    overflow: hidden;
}
.results{
    padding: 20px;
}
#result{
    padding: 5px;
    height: 25px;
    border-radius: 20px;
    border: none;
    width: 98%;
}
.keypad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    padding: 60px;
    margin-top: -50px;
}
button{
    /* padding: 10px  5px; */
    margin: 3px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.color-button{
    background-color: rgb(255, 145, 0);
}
.color1{
    background-color: rgba(80, 80, 78, 0.87);
}